<main
  class="max-w-3xl mx-auto p-10 text-white text-center border m-10 rounded-md bg-gradient-to-tr from-blue-500 to-purple-500"
>
  <div
    class="bg-white p-12 overflow-y-auto scrollbar max-w-2xl max-h-80 text-black rounded-xl shadow-2xl mx-auto mt-20"
  >
    <h2 class="font-semibold border-b-2 text-3xl">
      <span>Checkout Details</span>
    </h2>
    @for(cart of carts(); track cart.id){
    <p class="flex justify-between items-center py-2 mt-2">
      <span class="font-light">Product</span>
      <span class="font-semibold text-end"><img src="{{ cart.image }}" /></span>
    </p>
    <p class="flex justify-between items-center py-2 mt-2">
      <span class="font-light">Price </span>
      <span class="font-semibold text-end">${{ cart.price }}</span>
    </p>
    <p class="flex justify-between items-center py-2 mt-2 mb-2">
      <span class="font-light">Quantity </span>
      <span class="font-semibold text-end">{{ cart.quantity }}</span>
    </p>

    <p class="flex justify-between items-center py-2 border-t-2 border-b-2">
      <span class="font-semibold">Sub Total</span>
      <span class="font-semibold text-wrap">{{ subTotal(cart) }}</span>
    </p>
    }

    <p class="flex justify-between items-center py-2 border-b-2 mt-8">
      <span class="font-semibold">Total</span>
      <span class="font-semibold text-wrap">{{ totalPrice() }}</span>
    </p>
    <div class="flex gap-2 justify-center items-center w-full mt-8">
      <button
        type="button"
        class="border-indigo-900 border-2 bg-white text-indigo-900 hover:bg-indigo-900 hover:text-indigo-100 rounded-lg px-2 py-4 font-semibold w-1/2 flex justify-center items-center"
        (click)="initiateStripe()"
      >
        Pay
      </button>
      <button
        type="button"
        routerLink="/order/checkout"
        class="border-rose-900 border-2 bg-white text-rose-900 hover:bg-rose-900 hover:text-rose-100 rounded-lg px-2 py-4 font-semibold w-1/2 flex justify-center items-center"
      >
        Back To Cart
      </button>
    </div>
  </div>
  <!-- <div class="mb-10">
    <h1 class="text-4xl font-extrabold mb-2">Please pay for your order!</h1>
    <h2 class="text-2xl">
      Your total order is : <span>${{ totalPrice() }}</span>
    </h2>
    <button
      class="text-white w-full p-5 bg-black mt-2 rounded-md font-bold disabled:opacity-50 disabled:animate-pulse"
      (click)="initiateStripe()"
      type="button"
    >
      pay
    </button>
  </div> -->
</main>
