<div
  class="grid grid-cols-1 gap-2 m-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
>
  @for(pizza of pizzas(); track pizza.id){
  <div
    class="card card-compact bg-base-100 w-full shadow-xl text-stone-700 m-2"
  >
    <figure>
      <img
        [src]="pizza.image"
        [alt]="pizza.name"
        height="80"
        width="80"
        class="object-cover w-full h-48"
      >
    </figure>
    <span class="flex justify-end mr-1 text-rose-900 font-bold hover:text-indigo-900"><a [routerLink]="['/pizzas/detail', pizza?.id]" (click)="detailPizza(pizza)">Detail</a></span>
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['/pizzas/detail', pizza?.id]" (click)="detailPizza(pizza)">{{ pizza.name }}</a>
      </h2>
      <p>${{ pizza.price }}</p>
      <p>
        <span class="text-muted mr-4">{{isShowMore() ? pizza.description : pizza.description.substr(0,40) }}</span>
        <button class="bg-zinc-200 text-indigo-900 hover:text-zinc-200 hover:bg-indigo-900 py-1 px-2 text-sm rounded-lg flex justify-center items-center text-muted font-semibold" (click)="showMoreText(pizza.id)" type="button">{{isShowMore() ? "Less" : "More"}}</button>
      </p>

      <div class="card-actions justify-end">
        <button class="btn btn-primary hover:bg-zinc-200 hover:text-indigo-900 font-semibold" (click)="addToCart(pizza)">
          Buy Now
        </button>
      </div>
    </div>
  </div>
  }
</div>

@if(isAddToCart()){
<app-add-pizza-item (onAddToCart)="toCart($event)" />

}
