@if(orders().length === 0){
<div
  class="flex flex-col justify-between items-end mx-auto my-auto bg-white text-black max-w-lg px-12 py-40 rounded-lg shadow-lg mt-24"
>
  <h1 class="text-3xl">There are no orders to display!</h1>
  <span class="mt-32 text-indigo-900 font-bold"><a routerLink="/">Go Home</a></span>
</div>
}@else {
<div class="overflow-x-auto bg-white m-6 shadow-inner rounded mx-4 p-3">
  <table class="table table-zebra border-1 border-gray-200 p-3">
    <thead class="text-gray-200 text-xl bg-gray-500">
      <tr class="">
        <th>Order No.</th>
        <th>Items</th>
        <th>Price</th>
        <th>Quantities</th>
        <th>Date Order</th>
        <th>Status</th>
        <th>Order By</th>
        @if(isShowAction()){
          <th>Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (order of orders(); track order.id){

      <tr class="text-base text-black">
        <td class="truncate hover:whitespace-normal">{{ order.id }}</td>

        <td class="truncate hover:whitespace-normal">
          @for(item of order?.cartItems; track item.id){
          <ul>
            <li>
              <p>{{ item.name }}</p>
            </li>
          </ul>
          }
        </td>
        <td>${{ order.totalPrice }}</td>
        <td>{{ order.totalQuantity }}</td>
        <td>{{ order.orderDate | date : "mediumDate" }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.user?.name }}</td>
        @if(isShowHandlers()){
          <td>
            @if(isDelivered()){
              <button
                [disabled]="order.isDelivered"
                type="button"
                class="py-2 px-4 border-2 border-green-900 hover:bg-green-900 hover:text-green-100 text-green-900 font-bold text-base rounded-lg m-2"
                (click)="deliveredOrder(order.id)"
              >
               Delivered
              </button>
            }
            @if(isDeleted()){
              <button
                [disabled]="order.isShipped || order.isDelivered"
                type="button"
                class="py-2 px-4 border-2 border-rose-900 hover:bg-rose-900 hover:text-indigo-100 text-rose-900 font-bold text-base rounded-lg m-2"
                (click)="deleteOrder(order.id)"
              >
                Delete
              </button>
            }
            @if(isShipped()){
              <button
                [disabled]="order.isShipped"
                type="button"
                class="py-2 px-4 border-2 border-indigo-900 hover:bg-indigo-900 hover:text-indigo-100 text-indigo-900 font-bold text-base rounded-lg m-2"
                (click)="shippedOrder(order.id)"
              >
                Shipped
              </button>
            }
        </td>
       }
        
      </tr>

      }
    </tbody>
  </table>
</div>
}

