<div
  class="navbar shadow-2xl bg-zinc-100 rounded text-black font-semibold py-4 px-4 mt-2 flex justify-between items-center"
>
  <div class="mt-6 relative w-full">
    <div
      class="btn btn-ghost text-xl"
      [ngClass]="
        isLoggedIn() || totalQuantity() === 0
          ? 'absolute -top-10 left-0'
          : 'hidden'
      "
    >
      Pizzeria
      <a class="flex justify-center item-center" routerLink="/orders/cart">
        <span
          [class]="
            totalQuantity()
              ? 'inline-block bg-rose-900 text-rose-100 rounded-full py-1 px-3'
              : 'undefined'
          "
        >
          {{ totalQuantity() ? totalQuantity() : undefined }}
        </span></a
      >
    </div>
  </div>

  <div class="flex gap-4 text-xl">
    <div class="text-xl flex self-center">{{ firstName() }}</div>
    <div class="dropdown dropdown-end">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost btn-circle avatar"
        (mouseenter)="onOpenDropdown()"
      >
        <img
          class="w-15 h-auto rounded-full object-cover aspect-square"
          alt="Tailwind CSS Navbar component"
          [src]="
            !!currentUser()
              ? currentUser().image
              : 'Tailwind CSS Navbar component'
          "
        />
      </div>
      <ul
        tabindex="0"
        [ngClass]="open() ? 'block' : 'hidden'"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
        (mouseleave)="onOpenDropdown()"
      >
        @if(!!isLoggedIn()){
        <li><a routerLink="/change-password">Change Password</a></li>
        <li><a routerLink="/edit-profile">Edit Profile</a></li>
        } @if(!!isAdmin()){
        <li><a routerLink="/orders">All Orders</a></li>
        <li><a routerLink="/orders/orders-delivered">Delivered Orders</a></li>
        <li><a routerLink="/orders/orders-pending">Pending Orders</a></li>
        <li><a routerLink="/orders/orders-shipped">Shipped Orders</a></li>
        <li><a routerLink="/pizzas">Pizzas</a></li>
        <li><a routerLink="/users">Users</a></li>
        } @if(!!isLoggedIn()){
        <li>
          <a [routerLink]="['/orders/orders-by-user-id']">My Orders</a>
        </li>
        <li><a routerLink="/logout">Logout</a></li>
        }@if(!isLoggedIn()){
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>

        }
      </ul>
    </div>
  </div>
</div>
