<div
  class="navbar shadow-2xl bg-zinc-100 rounded text-black font-semibold py-4 px-4 mt-2"
>
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" [routerLink]="['/']">Pizza-Order</a>
  </div>
  <div class="flex-none gap-2">
    <div class="form-control">
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered w-24 md:w-auto"
      />
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full object-cover">
          <img
            alt="Tailwind CSS Navbar component"
            [src]="
              !!currentUser()
                ? currentUser().image
                : 'Tailwind CSS Navbar component'
            "
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        @if(!!isLoggedIn()){
        <li><a routerLink="/change-password">Change Password</a></li>
        <li><a routerLink="/edit-profile">Edit Profile</a></li>
        } @if(!!isAdmin()){
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/pizzas">Pizzas</a></li>
        } @if(!!isLoggedIn()){
        <li><a routerLink="/logout">Logout</a></li>
        }@else{
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
        }
      </ul>
    </div>
  </div>
</div>
