<div
  class="navbar shadow-2xl bg-zinc-100 rounded text-black font-semibold py-4 px-4 mt-2 relative flex justify-between items-center"
>
  <div
    class="flex items-center mt-4"
    [ngClass]="
      isLoggedIn() || totalQuantity() === 0
        ? 'absolute top-0 right-0'
        : 'hidden'
    "
  >
    <a
      class="btn btn-ghost text-xl flex justify-center item-center"
      routerLink="/orders/cart"
      >Pizza-Order
      <span
        [class]="
          totalQuantity()
            ? 'inline-block bg-rose-900 text-rose-100 rounded-full py-1 px-3'
            : 'undefined'
        "
      >
        {{ totalQuantity() ? totalQuantity() : undefined }}
      </span></a
    >
  </div>
  <div class="flex gap-4">
    <div class="form-control">
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered w-24 md:w-auto"
      />
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full object-cover">
          <img
            class=""
            alt="Tailwind CSS Navbar component"
            [src]="
              !!currentUser()
                ? currentUser().image
                : 'Tailwind CSS Navbar component'
            "
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        @if(!!isLoggedIn()){
        <li><a routerLink="/change-password">Change Password</a></li>
        <li><a routerLink="/edit-profile">Edit Profile</a></li>
        } @if(!!isAdmin()){
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/pizzas">Pizzas</a></li>
        } @if(!!isLoggedIn()){
        <li><a routerLink="/logout">Logout</a></li>
        }@else{
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
        }
      </ul>
    </div>
  </div>
</div>
